<div class="two-thirds">
    <nav class="breadcrumbs" aria-label="breadcrumbs">
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="https://www.essex.gov.uk/topic/coronavirus">Coronavirus</a></li>
        <li><a href="/">Get self-isolation help</a></li>
        <li>Results</li>
      </ol>
    </nav>

    <div>
        <a href="/" class="link-back">Search again?</a>
    </div>

    <h1 class="page-title">Your results</h1>
    
</div>


<ol class="service-results">
    <% @services.order(name: :asc).each do |s| %>
        <%= render partial: "shared/service_card", locals: {s: s, recommended: false} %>
    <% end %>
</ol>

<section class="safeguarding">
    <h2>Can't find what you need?</h2>
    <p>If you’re worried about yourself or someone you care about, <a href="https://www.essex.gov.uk/topic/coronavirus">see our coronavirus hub</a> for the latest information and advice.</p>
</section>
