// for logotype
@import url('https://fonts.googleapis.com/css?family=Roboto:500|Noto+Sans');
// for design variant
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@import "_variables.scss";

.container, .header {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 30px;
  @media screen and (min-width: $breakpoint){
    padding: 0 30px;
  }
}

.site-header{
  background: $brand;
  padding: 15px;
  .site-header__masthead{
    display: inline-block;
  }
  img{
    display: block;
    width: 300px;
  }
}

.background {
  background: $white;
  padding: $baseline 0;
  h2 {
    margin-top: 0;
  }
}

.main-content-area{
  background: $white;
  padding-bottom: $baseline;
}

.grid-row {
  float: left;
  width: 100%;
}

.column-half{
  float: left;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: $breakpoint){
    padding-left: 30px;
    padding-right: 30px;
    width: 50%;
  }
}

.two-thirds{
  @media screen and (min-width: $breakpoint){
    max-width: 66.67%;
  }
}

.site-footer{
  background: $brand4;
  padding: 50px 0;

  .site-footer__notice{
    color: $white;
    margin-bottom: 20px;
  }

  .site-footer__link{
    color: $white;
    display: inline-block;
    margin-right: 15px;
    &:focus{
      color: $grey1;
    }
  }
}

.important{
  padding: $baseline*0.5;
  border: $border-thick solid $info;
  .important__link{
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
  }
}


.go-back{
  display: inline-block;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  margin-bottom: 15px;
  img{
    height: 15px;
    margin-right: 0px;
  }
  &:hover span{
    text-decoration: underline;
  }
}

.beta-banner{
  background: $grey-lighter;
  padding: 10px 0px;
  .beta-banner__inner{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .beta-banner__tag{
    background: $beta;
    text-transform: uppercase;
    padding: 3px 7px;
    margin-right: 10px;
    color: $text-colour;
  }
  .beta-banner__message{
    padding-top: 1px;
    margin-bottom: 0;
  }
}

.error{
  border-left: $border-very-thick solid $error;
  padding: $baseline $gutter*0.25;
  color: $error;
  margin: 0;
}

@import 'typography.scss';
@import 'social.scss';
@import 'footer.scss';
@import 'skiplink.scss';
@import 'back.scss';
@import 'breadcrumbs.scss';
@import 'nav.scss';
@import 'button.scss';
@import 'header.scss';
@import 'preview-list.scss';
@import 'search.scss';
@import 'results.scss';
@import 'google-maps.scss';
@import 'toggle.scss';