@import "_variables.scss";

.field{
  margin-bottom: $baseline;
  border: none;
  .field__label h2{
    display: block;
  }
  .field__hint{
    margin-top: 0;
  }
  .field__text-input{
    border: 2px solid $grey1;
    background: $white;
    width: 100%;
    &:focus{
      outline: 3px solid $yellow;
    }
    &::placeholder{
      color: transparentize($grey2, 0.25)
    }
  }
}

.checkboxes{
  background: $white;
  padding: $gutter*0.5;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: 1fr;
  @media screen and (min-width: $breakpoint){
    grid-template-columns: 1fr 1fr 1fr;
  }
  column-gap: 30px;
  .checkbox{
    margin-bottom: 0;
    position: relative;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 22px;
    &:focus-within label:before{
      outline: 3px solid $focus-colour;
    }
    .checkbox__input{
      font-size: 2rem;
      -webkit-appearance:none;
      width:38px;
      height:38px;
      position: absolute;
      left: 0px;
      top: 0px;
      &:checked + label:after{
        position: absolute;
        content: "";
        display: block;
        height: 28px;
        width: 28px;
        left: 5px;
        top: 5px;
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='24' viewBox='0 0 28 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M27.1608 5.08025L9.59935 23.3259L0.837891 14.2231L5.16081 10.0623L9.59935 14.6738L22.8379 0.919434L27.1608 5.08025Z' fill='%232A2828'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .checkbox__label{
      cursor: pointer;
      color: $black;
      &:before{
        content: "";
        display: inline-block;
        background: $white;
        border: 2px solid $black;
        width: 35px;
        height: 35px;
        position: absolute;
        left: 0px;
        top: 0px;
      }
    }
  }
  &.age {
    grid-template-columns: 1fr;
    @media screen and (min-width: $breakpoint){
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .checkbox{
      margin-bottom: 0;
      position: relative;
      padding-left: 40px;
      padding-top: 4px;
      padding-bottom: 16px;
      &:focus-within label:before{
        outline: 3px solid $focus-colour;
      }
      .checkbox__input{
        font-size: 2rem;
        -webkit-appearance:none;
        width:28px;
        height:28px;
        position: absolute;
        left: 0px;
        top: 0px;
        &:checked + label:after{
          position: absolute;
          content: "";
          display: block;
          height: 19px;
          width: 19px;
          left: 5px;
          top: 5px;
          background-image: url("data:image/svg+xml,%3Csvg width='28' height='24' viewBox='0 0 28 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M27.1608 5.08025L9.59935 23.3259L0.837891 14.2231L5.16081 10.0623L9.59935 14.6738L22.8379 0.919434L27.1608 5.08025Z' fill='%232A2828'/%3E%3C/svg%3E%0A");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      .checkbox__label{
        cursor: pointer;
        color: $black;
        &:before{
          content: "";
          display: inline-block;
          background: $white;
          border: 2px solid $black;
          width: 25px;
          height: 25px;
          position: absolute;
          left: 0px;
          top: 0px;
        }
      }
    }
  }
}

  
.search-result-title {
  font-family: $stack;
  font-size: ms(1);
  line-height: $baseline;
  letter-spacing: -1.5px;
  margin-top: $baseline*1.5;
  margin-bottom: $baseline;
  text-transform: none;
  letter-spacing: -0.5px;
  }
